body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dcdde1;
}
a {
  text-decoration-line: none;
  color: black;
}
h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}
:root {
  --main-color: #e8e4dc;
  --sub-color: #f09c0b;
  --text-color: #818cc7;
  --bg-color: #d9e5e7;
  --menu-color: rgb(246, 246, 235);
  --about-color: rgb(247, 241, 245);
  --phan-hoi-color: rgb(236, 231, 241);
  --cursive-font: "Dancing Script", cursive;
}
.phan-hoi {
  background-color: var(--phan-hoi-color);
}

.phan-hoi-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.phan-hoi-item {
  width: calc(100% / 3 - 30px);
  margin: 0 15px;
  border: 2px solid var(--bg-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0, 0, 0, 15px rgba(0, 0, 0, 0.7);
}

.phan-hoi-item:hover img {
  border: var(--sub-color);
}

.phan-hoi-item span {
  color: var(--text-color);
}

.phan-hoi-item h2 {
  font-size: 20px;
  color: #615bc7;
}

.phan-hoi-item p {
  color: #615bc7;
  font-size: 18px;
  font-size: 20px 0;
  text-indent: 20px;
}

.phan-hoi-item img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}

.phan-hoi-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phan-hoi-item-star i {
  color: var(--sub-color);
}
